<%= render partial: "/layouts/navbar" %>

<div class = "sign-up">
<h1>Edit Surf Session</h1>
</div>

<%= render 'editForm' %>

<%= link_to 'Show', user_meeting_path %> |
<%= link_to 'Back', user_meetings_path %>